* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 93rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 20px;
  margin: 25px;
}

.image-container {
  position: relative;
  padding: 5rem 0;
  z-index: 0;
}

.pattern-img {
  position: absolute;
  top: -30rem;
  left: -58rem;
  z-index: -1;
}

.outer {
  position: absolute;
  top: 19rem;
  left: -9rem;
}

.woman {
  margin-left: -8rem;
}

.inner {
  overflow: hidden;
}

.faq-container {
  padding: 5rem;
  padding-bottom: 2rem;
}

.title {
  color: hsl(238, 29%, 16%);
  font-size: 2.8rem;
  padding-bottom: 2rem;
}

.faq-item {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.5rem;
  padding-left: 0;
  color: hsl(237, 12%, 33%);
  transition: all 0.3s;
}

label:hover {
  color: hsl(14, 88%, 65%);
}

.down-arrow {
  margin-left: -2rem;
  transition: all;
}

.content {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
  color: hsl(240, 6%, 50%);
}

input {
  display: none;
}

input:checked~.content {
  height: 6.4rem;
  opacity: 1;
}

input:checked~label {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

input:checked~.down-arrow {
  transform: rotate(180deg);
  transition: all 0.3s;
}