.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1;
  font-size: 1.2rem;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  overflow-y: hidden;
}

.accordion {
  max-width: 80rem;
  margin: 10rem auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 4.8rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* ?Image section */
.bg-pattern {
  width: 20%;
}

.at-box {
  width: 20%;
}

.woman-img {
  width: 20%;
}

/* ?Text Section */

.title {
  margin-bottom: 2.4rem;
}

.item {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding: 1.5rem 0;
  transition: all 0.3s ease-out;
}


.text {
  font-size: 1.4rem;

  color: hsl(237, 12%, 33%);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
}

.text:hover,
.text:active {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.hidden-text {
  display: none;
  color: hsl(240, 6%, 50%);
  line-height: 1.5;
}


.open .down-icon {
  display: none;
}

.open .hidden-text,
.open .up-icon {
  display: block;
}

.open .text {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

/* ? Dropdown icons */
.down-icon {
  width: 12px;
  height: 12px;
  stroke: hsl(14, 88%, 65%);
  margin-right: 2rem;
}

.up-icon {
  display: none;
  width: 12px;
  height: 12px;
  stroke: hsl(14, 88%, 65%);
  margin-right: 2rem;
}